h1{
    text-align: center;
}
img{
    height: 236px;
    margin-left: 26px;
    margin-top: 20px;
}
.info{
    margin-left: 234px;
    margin-top: -234px;
    font-size:large;

}
.skils{
    font-size:large;
    margin-left: 2px;
}
.contact{
    text-align: center;
    margin: -225px 0 0 309px;
    width: 174px;
    height: 83px;
    padding: 40px;
    border: 7px solid gray;
    
}
/* directr selector*/
.contact > a{
    margin-left: 6px;
}
#con{
    margin-left: 225px;
}
